.THIS.mainsection {
    width: 100vw;
    background-color: white;
}

.THIS .slds-m-around_small {
    display: inline;
}

.THIS .quickformtitle {
    font-size: x-large;
    margin-left: 0.3rem;
}

.THIS .header {
    font-size: 2rem;
}

.THIS .slds-modal__footer {
    padding-bottom: 3% !important;
}

.THIS .slds-modal__header {
    background-color: rgb(229 229 229);
}

.THIS .footer .slds-button {
    font-size: 15px !important;
}

.THIS .folder_component {
    width: 21.2%;
    max-width: 400px;
    position: absolute;
    height: 100%;
    border: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    background-color: #f2f2f2;
}

.THIS .hideit {
    display: none;
}

.THIS .rowsicon2 {
    display: none;
}

.THIS .formpart {
    position: relative;
    border-color: #e6e6e6;
    background-color: #f2f2f2;
}

.THIS .folder_tree {
    background-color: #f2f2f2;
    overflow: auto;
    height: 85%;
}

.THIS .new_folder {
    height: 65px;
    border: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    background-color: #f2f2f2;
    padding: 18px 5px;
    font-size: 18px;
    font-weight: 600;
}

.THIS .accordion {
    border: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    background-color: #f2f2f2;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 600;
}

.THIS .accordion_1 {
    background-color: #f2f2f2;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 600;
}

.THIS .slds-tree__item-label {
    display: block;
    width: 310px;
    max-width: 100%;
}

.THIS .slds-tree__item .slds-button {
    padding: 0 2px 2px 3px;
}

.THIS .slds-tree__item:hover {
    background-color: #ddd;
}

.THIS .slds-tree__item a:focus {
    text-decoration: none;
}

.THIS .slds-tree [role=treeitem]:focus>.slds-tree__item {
    text-decoration: none;
}


/* ================== FOR BUTTONS ==================*/

.THIS .button_slide {
    height: 33px;
    width: 115px;
    color: blue;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 5px;
    padding: 4px 25px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}

.THIS .button_slide[disabled] {
    pointer-events: none;
    color: blue;
    font-size: 14px;
    letter-spacing: 1px;
}


/* ================== FOR BUTTONS ==================*/


/* =========== table css Start ============== */

.THIS .dataTableMain {
    height: 100%;
    overflow-y: auto;
    border: 1px solid #ddd;
    width: 98%;
    margin: 0px 10px 10px 10px;
}

.THIS .tableHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
    height: 45px;
    position: sticky;
    z-index: 1;
    top: 0;
}

.THIS .tableBody {
    display: flex;
    height: 45px;
    align-items: center;
}

.THIS .tableBody:nth-child(odd) {
    background: #f2f2f2;
}

.THIS .col-1 {
    text-align: center;
    width: 10%;
}

.THIS .col-2 {
    overflow: hidden;
    width: 40%;
    padding-left: 3%;
}

.THIS .col-3 {
    text-align: center;
    width: 20%;
}

.THIS .col-4 {
    text-align: center;
    width: 17%;
}

.THIS .col-5 {
    text-align: center;
    width: 12%;
}

.THIS .col-6 {
    text-align: center;
    text-align: -webkit-center;
    width: 15%;
}

.THIS .arrow {
    visibility: hidden;
}

.THIS .formTitle {
    color: black;
    text-decoration: none;
    padding: 0px;
    background-color: #f2f2f2;
}

.THIS .formTitle:hover>.arrow {
    visibility: visible;
}

.THIS .actionButton-main {
    width: 32px;
}

.THIS .action-text {
    text-align: start;
}

.THIS .dataTableMain::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


/* =========== table css End ============== */

.THIS .formicon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.THIS .slds-large-size_9-of-12 {
    width: 78.5%;
}

.THIS .btnicon {
    display: flex;
}

.THIS .changeCursor {
    margin: 1px;
    min-width: 25px;
    position: relative;
}

.THIS .tooltip {
    position: absolute;
    top: 44px;
    left: -120px;
    width: 10rem;
    transform: rotate(180deg);
    display: none;
}

.THIS .tooltipmainfolder {
    position: absolute;
    top: 44px;
    left: -147px;
    width: 12rem;
    transform: rotate(180deg);
    display: none;
}

.THIS .tooltip2 {
    position: absolute;
    top: 44px;
    left: -118px;
    width: 10rem;
    transform: rotate(180deg);
    display: none;
}

.THIS .tooltip3 {
    position: absolute;
    top: 44px;
    left: -120px;
    width: 10rem;
    transform: rotate(180deg);
    display: none
}

.THIS .tooltipmainfolder3 {
    position: absolute;
    top: 44px;
    left: -149px;
    width: 12rem;
    transform: rotate(180deg);
    display: none
}


/* Active - Inactive button */

.THIS .switch input {
    display: none;
}

.THIS .switch small {
    align-items: center;
    display: inline-block;
    width: 65px;
    height: 20px;
    background: #455a64;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.THIS .switch small:after {
    content: "Inactive";
    position: absolute;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    width: 100%;
    left: 0px;
    text-align: right;
    padding: 1px 5px;
    box-sizing: border-box;
    line-height: 18px;
}

.THIS .switch small:before {
    align-items: center;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: .3s;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1);
}

.THIS .switch input:checked~small {
    background: #4fc5c5;
    transition: .3s;
}

.THIS .switch input:checked~small:before {
    transform: translate(46px, 0px);
    transition: .3s;
}

.THIS .switch input:checked~small:after {
    content: "Active";
    text-align: left;
    padding-left: 10px;
}

.THIS .imgfoldericon {
    margin-right: 5px;
}

.THIS .recordList {
    padding: 2px 0 0 5px;
}

.THIS .title {
    padding: 3px 0;
}

.THIS .slds-dropdown_length-3 {
    max-height: 125px;
    overflow-y: auto;
}

.THIS .searchBar .slds-form-element .slds-form-element__label {
    display: none;
}

.THIS .slds-button_neutral {
    background-color: #fff;
}

.THIS .action-text:hover {
    border-left: solid #8279ff 3px;
    padding-left: 3px;
    margin-left: -10px;
}

.THIS .menuList-div {
    min-width: 102px;
}

.THIS .action-text {
    height: 1.25rem;
}

.THIS .actionButton-second {
    display: none;
}

.THIS .dropdownDiv .slds-form-element .slds-form-element__label {
    display: none;
}

@media screen and (max-width: 1000px) {
    .THIS .col-5 {
        display: none;
    }
    .THIS .actionButton-second {
        display: revert;
    }
    .THIS .btnicon {
        display: block;
        margin-top: -20px;
    }
    .THIS .changeCursor {
        width: 25px;
    }
}

@media screen and (max-width: 764px) {
    .THIS .hideit {
        display: block;
        background-color: white;
        height: 100%;
        width: 8%;
    }
    .THIS .rowsicon {
        margin: 7px;
    }
    .THIS .rowsicon2 {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }
    .THIS .slds-icon {
        width: 15px
    }
    .THIS .btnicon {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .THIS .folder {
        display: none;
    }
    .THIS .folder_component {
        display: none;
    }
    .THIS .addclass {
        background-color: #f2f2f2;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        height: 100%;
        width: 38vw;
        transition: 0.2s;
        display: block;
    }
    .THIS .new_folder {
        padding: 10px 0px;
    }
    .THIS .formicon {
        justify-content: flex-start;
        margin-top: 12px;
    }
    .THIS .mainform {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 667px) {
    .THIS .mainform {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 867px) {
    .THIS .formicon {
        justify-content: flex-start;
        margin-top: 12px;
    }
    .THIS .mainform {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 595px) {
    .THIS .hideit {
        width: 20%;
    }
    .THIS .addclass {
        width: 45vw;
    }
    .THIS .formicon {
        justify-content: flex-start;
        margin-top: 12px;
    }
    .THIS .formpart {
        border: none;
    }
    .THIS .mainform {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    .THIS .formicon {
        display: block;
        margin-top: 10px;
    }
    .THIS .formiconsmargin {
        font-size: 15px;
    }
}

@media screen and (max-width:497px) {
    .THIS .hideit {
        width: 15%;
    }
    .THIS .formpart {
        left: 15%;
    }
    .THIS .addclass {
        width: 55vw;
    }
    .THIS .mainform {
        display: flex;
        flex-direction: column;
    }
    .THIS .formpart {
        border: none;
    }
    .THIS .formicon {
        display: block;
        margin-top: 10px;
    }
}

@media screen and (max-width:400px) {
    .THIS .hideit {
        display: block;
        background-color: white;
        height: 100%;
        width: 18%;
        z-index: 12;
    }
    .THIS .formpart {
        border: none;
        left: 18%;
        width: 92%;
    }
    .THIS .addclass {
        width: 85vw;
        z-index: 14;
    }
    .THIS .formicon {
        max-width: 50%;
    }
}

@media screen and (max-width:347px) {
    .THIS .formicon {
        max-width: 50%;
    }
}

@media screen and (max-width:380px) {
    .THIS .formicon {
        max-width: 20%;
    }
}

@media screen and (max-width:300px) {
    .THIS .addclass {
        width: 100vw;
        z-index: 14;
    }
}

@media screen and (max-width:250px) {
    .THIS .addclass {
        width: 100vw;
        z-index: 14;
    }
}