.THIS.mainsection {
    width: 100vw;
    background-color: white;
}

.THIS .dataTableMain {
    height: 33em;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-top: none;
    width: 98%;
    margin: 0px 10px 10px 10px;
}

.THIS .slds-m-around_small {
    display: inline;
}

.THIS .quickformtitle {
    font-size: x-large;
    margin-left: 0.3rem;
}


/* .THIS .slds-button_destructive{
    margin-right: 15px !important;
} */

.THIS .header {
    font-size: 2rem;
}

.THIS .slds-modal__footer {
    padding-bottom: 3% !important;
}

.THIS .slds-modal__header {
    background-color: rgb(243, 242, 242);
}

.THIS .footer .slds-button {
    font-size: 15px !important;
}

.THIS .folder_component {
    /* width: 22%; */
    /* width: 25%; */
    width: 21.2%;
    max-width: 400px;
    position: absolute;
    height: 100%;
    border: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    background-color: #f2f2f2;
}

.THIS .hideit {
    display: none;
}

.THIS .rowsicon2 {
    display: none;
}

.THIS .formpart {
    position: relative;
    /* height:100vh; */
    /* width: 79%;; */
    /* border: solid; */
    /* border-width: 1px; */
    border-color: #e6e6e6;
    background-color: #f2f2f2;
}

.THIS .slds-tree__item-label {
    display: block;
    width: 310px;
    max-width: 100%;
    /* text-decoration: none !important; */
    /* width: 242px; */
    /* width: 226px; */
}

.THIS .folder_tree {
    /* height:auto; */
    /* border: solid; */
    /* border-width: 1px; */
    /* border-color: #e6e6e6; */
    /* background-color: #f2f2f2; */
    /* background-color:white; */
    /* overflow: hidden; */
    /* display: flex; */
    background-color: #f2f2f2;
    overflow: auto;
    height: 85%;
}

.THIS .new_folder {
    height: 65px;
    border: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    background-color: #f2f2f2;
    padding: 18px 5px;
    /* padding-left: 5%; */
    /* padding-left: 30px; */
    font-size: 18px;
    font-weight: 600;
}

.THIS .accordion {
    border: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    background-color: #f2f2f2;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 600;
}

.THIS .accordion_1 {
    background-color: #f2f2f2;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 600;
}


/* ================== FOR BUTTONS ==================*/

.THIS .button_slide {
    height: 33px;
    width: 115px;
    color: blue;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 5px;
    padding: 4px 25px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    /*  box-shadow: inset 0 0 0 0 rgb(47, 44, 183);*/
    /* -webkit-transition: ease-out 1.0s;
    -moz-transition: ease-out 1.0s;
    transition: ease-out 1.0s;*/
}

.THIS .button_slide[disabled] {
    pointer-events: none;
    color: blue;
    font-size: 14px;
    letter-spacing: 1px;
    /* For not selectable tet inside button */
    /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
    /* For not selectable tet inside button */
}

.THIS .slide_right:hover {
    /*  box-shadow: inset 400px 0 0 0 rgb(47, 44, 183);*/
}

.THIS .slide_left:hover {
    /* box-shadow: inset -400px 0 0 0 rgb(47, 44, 183);*/
}


/* ================== FOR BUTTONS ==================*/


/* ================== FOR Edit drop down ==================*/

.THIS .table_center {
    display: table-cell;
    vertical-align: middle;
}

.THIS .drop-down {
    display: inline-block;
    position: relative;
}

.THIS .drop-down__button {
    background: linear-gradient(to right, #3d6def, #8FADFE);
    display: inline-block;
    line-height: 40px;
    padding: 0 18px;
    text-align: left;
    border-radius: 4px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.THIS .drop-down__name {
    font-size: 9px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    letter-spacing: 2px;
}

.THIS .drop-down__menu-box {
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
    margin-top: 5px;
}

.THIS .drop-down__menu-box:before {
    content: '';
    background-color: transparent;
    border-right: 8px solid transparent;
    position: absolute;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-top: 8px solid transparent;
    top: -15px;
    left: 33px;
}

.THIS .drop-down__menu-box:after {
    content: '';
    background-color: transparent;
}

.THIS .drop-down__menu {
    margin: 0;
    padding: 0 13px;
    list-style: none;
}

.THIS .drop-down__item {
    width: 100px;
    font-size: 13px;
    margin-left: 15px;
    padding: 13px 0;
    text-align: left;
    font-weight: 500;
    color: #909dc2;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #e0e2e9;
}

.THIS .drop-down__item:hover {
    color: #3d6def;
}

.THIS .drop-down__item:last-of-type {
    border-bottom: 0;
}

.THIS .drop-down--active .drop-down__menu-box {
    visibility: visible;
    opacity: 1;
    margin-top: 15px;
    left: -16px;
}

.THIS .drop-down--active {
    visibility: visible;
    opacity: 1;
    /* margin-top: 0px; */
}

.THIS .drop-down__item:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 28px;
    background-color: #3d6def;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.THIS .drop-down__item:hover:before {
    display: block;
}


/* .THIS th, */

.THIS td {
    text-align: left;
    padding: 8px;
    /* width: 1%; */
}

.THIS th {
    text-align: left;
    padding: 8px;
    /* width: 1%; */
}

.THIS ::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* =========== table css ============== */

.THIS .THcol_1 {
    /* width: 50px; */
    width: 6.6%;
}

.THIS .THcol_2 {
    /* width: 130px; */
    width: 9.4%;
}

.THIS .THcol_3 {
    /* width: 525px; */
    width: 47%;
}

.THIS .THcol_4 {
    /* width: 140px; */
    width: 12%;
}

.THIS .THcol_5 {
    /* width: 150px; */
    width: 12%;
}

.THIS .THcol_6 {
    /* width: 155px; */
    width: 13%;
}

.THIS .col_1 {
    width: 50px;
}

.THIS .col_2 {
    width: 130px;
}

.THIS .col_3 {
    width: 525px;
}

.THIS .col_4 {
    width: 140px;
}

.THIS .col_5 {
    width: 150px;
}

.THIS .col_6 {
    width: 155px;
}


/* =========== table css ============== */

.THIS .topRow {
    background-color: #f2f2f2;
}


/* .THIS tr:first-child {
    background-color: #f2f2f2;
} */

.THIS table::-webkit-scrollbar {
    display: none;
}

.THIS .mainsec::-webkit-scrollbar {
    display: none;
}

.THIS .formicon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.THIS .formiconhide {
    display: none;
}

.THIS .formiconhide2 {
    display: none;
}

.THIS .slds-large-size_9-of-12 {
    /* width: 78.8%; */
    width: 78.5%;
}

@media screen and (max-width: 764px) {
    .THIS .hideit {
        display: block;
        background-color: white;
        height: 100%;
        width: 8%;
    }
    .THIS .rowsicon {
        margin: 7px;
    }
    .THIS .rowsicon2 {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }
    .THIS .slds-icon {
        /* fill:rgb(1, 118, 211) !important; */
        width: 15px
    }
    .THIS .btnicon {
        padding-right: 8px;
    }
    .THIS .folder {
        display: none;
    }
    .THIS .folder_component {
        display: none;
    }
    .THIS .addclass {
        background-color: #f2f2f2;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        height: 100%;
        width: 38vw;
        transition: 0.2s;
        display: block;
    }
    .THIS .new_folder {
        padding: 10px 0px;
    }
    .THIS .formicon {
        justify-content: flex-start;
        margin-top: 12px;
    }
    .THIS .mainform {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 667px) {
    .THIS .mainform {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 867px) {
    .THIS .formicon {
        justify-content: flex-start;
        margin-top: 12px;
    }
    .THIS .mainform {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 595px) {
    .THIS .hideit {
        width: 20%;
    }
    .THIS .addclass {
        width: 45vw;
    }
    .THIS .formicon {
        justify-content: flex-start;
        margin-top: 12px;
    }
    .THIS .formpart {
        border: none;
    }
    .THIS .mainform {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    .THIS .formiconhide,
    .THIS .formicon {
        display: none;
    }
    .THIS .formiconhide2 {
        display: block;
        margin-top: 10px;
    }
    .THIS .formiconsmargin {
        font-size: 15px;
    }
}

@media screen and (max-width:497px) {
    .THIS .hideit {
        width: 15%;
    }
    .THIS .formpart {
        left: 15%;
    }
    .THIS .addclass {
        width: 55vw;
    }
    .THIS .mainform {
        display: flex;
        flex-direction: column;
    }
    .THIS .formpart {
        border: none;
    }
    .THIS .formiconhide {
        display: none;
    }
    .THIS .formiconhide2 {
        display: block;
        margin-top: 10px;
    }
}

@media screen and (max-width:400px) {
    .THIS .hideit {
        display: block;
        background-color: white;
        height: 100%;
        width: 18%;
        z-index: 12;
    }
    .THIS .formpart {
        /* position: relative;
        height:100vh;
        /* width: 79%;; */
        /* border: solid;
        border-width: 1px;
        border-color: #e6e6e6;
        background-color: #f2f2f2; */
        border: none;
        left: 18%;
        width: 92%;
        /* width: ; */
    }
    .THIS .addclass {
        width: 85vw;
        z-index: 14;
    }
    .THIS .formiconhide2 {
        /* border:1px solid blueviolet; */
        max-width: 50%;
    }
}

@media screen and (max-width:347px) {
    .THIS .formiconhide2 {
        /* border:1px solid blueviolet; */
        max-width: 50%;
    }
}

@media screen and (max-width:380px) {
    .THIS .formiconhide2 {
        /* border:1px solid blueviolet; */
        max-width: 20%;
    }
}

@media screen and (max-width:300px) {
    .THIS .addclass {
        width: 100vw;
        z-index: 14;
    }
}

@media screen and (max-width:250px) {
    .THIS .addclass {
        width: 100vw;
        z-index: 14;
    }
}


/* ================== FLox expirement start ==================*/


/* .THIS .flox_div{
    width: 35px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

 position: relative;
    height:100vh;
    border: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    background-color: #f2f2f2;
        display:block;
} */


/* ================== FLox expirement Finish==================*/